.container {
  display: flex;

  gap: 0.5rem;
  justify-content: space-between;
}

.container input {
  flex: 1;
  height: 54px;
  padding: 16px;
  border-radius: 8px;
  border: none;
  background-color: var(--gray-500);
  color: var(--gray-100);
}

.container button {
  height: 52px;
  padding: 16px;
  border: none;
  border-radius: 8px;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  font-size: 0.875rem;
}

.container button:hover {
  background-color: var(--blue);
}
